@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: myFont;
  src: url(../Home_page/images/futura_black_bt.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* font-family: myFont; */
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #16274b;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.4em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #27a287;
  font-size: 18px;
  word-spacing: 23px;
}

.btn-primary:hover {
  background: #117964;
  transition: 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 77px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  text-align: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}

.logo {
  margin-right: -380px;
}

.container .gemclass .gem {
  width: 240px;
  height: 70px;
  padding-left: 60px;
  margin-top: 8px;
}

.logo img {
  width: 190px;
}

.logo .since1965{
    position: absolute;
    top: 47px;
    font-size: 20px;
    left: 13.5vw;
    font-family: myFont;;
}

/* part1 */
.part1 img{
    margin-top: 84px;
    width: 100%;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
}
.left-section {
  font-size: 48px;
  font-weight: bold;
  margin-right: 20px;
}
.left-section span {
  display: block;
}
.divider {
  width: 2px;
  height: 100px;
  background-color: #1E2A78;
  margin-right: 20px;
}
.right-section {
  font-size: 36px;
  font-weight: bold;
}
.right-section p {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .part2{
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
  }
  .left-section {
      font-size: 36px;
      margin-right: 0;
      margin-bottom: 10px;
  }
  .divider {
      width: 100%;
      height: 2px;
      margin: 10px 0;
  }
  .right-section {
      font-size: 24px;
  }
  .right-section p {
      font-size: 16px;
  }
}


.vision-box, .mission-box {
  width: 76%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #87CEEB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.vision-box:hover, .mission-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.vision-box h2, .mission-box h2 {
  color: #4682B4;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
  font-size: 45px;
}

.vision-box p, .mission-box p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social-box {
  width: 76%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #87CEEB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.social-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.social-box h2 {
  color: #4682B4;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
  font-size: clamp(1.5rem, 5vw,1.4rem);
}

.social-box p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.part3{
  margin: 90px 54px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 10px;
  color: rgb(110, 109, 109);
}

.contentLeft, .contentRight {
  width: 100%;
  height: 100%;
}

.contentRight {
  padding-top: 50px;
  padding-left: 20px;
}

.contentRight .hist-1 {
  font-size: 70px;
  line-height:0.9;
}

.hist-1 span {
  color: brown;
}

#historyDescription {
  padding-top: 25px;
  overflow: hidden;
  max-height: 18.5em;
  text-overflow: ellipsis;
  font-size: 23.9px;
}

#historyDescription.expanded {
  max-height: none;
}

#btn-1 {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 30px;
  color: #fff;
  background: #d35400;
  border-radius: 8px;
  user-select: none;
  margin-top: 15px;
  outline: none;
  border: none;
}

.img-1 {
  width: 100%;
  height: 94vh;
  border-radius: 30px;
}


/* Part-4 */
.part4 .heading{
  display: flex;
  color: white;
  font-size: clamp(1.5rem, 5vw,1.4rem);
  justify-content: center;
  margin-left: 39px;
}

.part4 .content2{
  display: flex;
  color: rgb(110, 109, 109);
  font-size: clamp(1.5rem, 5vw,1.4rem);
  justify-content: center;
  margin:50px;
}

.part4 .containers {
  padding: 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  background-color: #4da6ff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.service-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  color: #000;
  margin-bottom: 830px;
  z-index: 1;
}

.service-card:hover .service-content {
  display: inline-block;
  filter: none; /* add this rule to prevent blur effect on content */
}

.service-card:hover {
  background-color: #3399ff;
}

.service-card:hover ~ * {
  filter: blur(2px);
}

.service-card h3 {
  margin: 0;
  font-size: 18px;
}
.service-card p {
  margin: 5px 0 0;
  font-size: 14px;
}
.service-card .icon {
  font-size: 24px;
}

.repeating-text {
  display: flex;
  overflow: hidden;
  background-color: black; /* Optional */
  margin-top: 20px;
}

.repeating-text p {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100px; /* Adjust for spacing between repeated texts */
  font-size: 2rem; /* Adjust size as needed */
  color: white;
  animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Media for tab */



@media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
      height: 60px;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
      cursor: pointer;
    }
  
    .logo img {
      width: 140px;
    }
  
    .logo .since1965{
      width: 110px;
      font-size: 15px;
      position: absolute;
      top:31px;
      left: 15px;
    }
  
    .logo {
      margin-bottom: 0.1rem;
      margin-right: 0px;
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }

    .container .gemclass .gem {
        width: 210px;
        height: 70px;
        position: absolute;
        left: 0px;
        top: -18px;
      }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 0px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #fff;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      align-items: start;
      flex-direction: column;
      margin-left: -100px;
      padding-left: 80px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }

    
    .part3 {
      margin: 50px 20px;
      grid-template-columns: 1fr;
      grid-gap: 20px;
  }

  .contentLeft .img-1{
    height: 490px;
  }

  .contentRight .hist-1 {
      font-size: 50px;
  }
}



@media (max-width: 1498px) {

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 0px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: -100px;
    padding-left: 80px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
    .navbar {
        opacity: 0.95;
        height: 60px;
      }

      .menu-items li {
        list-style: none;
        margin-left: 1.5rem;
        margin-bottom: .8rem;
        font-size: 1.1rem;
      }
    
      .logo img {
        width: 140px;
        height: 35px;
        position: absolute;
        left: 81vw;
        top: 5px;
      }
    
      .logo .since1965{
        width: 110px;
        font-size: 15px;
        position: absolute;
        top:34px;
        left: 82vw;
      }
    
      /* .logo {
        position: absolute;
        left: 60px;
        top: 5px;
      } */
  
      .container .gemclass .gem {
          width: 170px;
          height: 70px;
          position: absolute;
          left: 10px;
          top: -18px;
        }

        
    
  }