@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@font-face {
  font-family: myFont;
  src: url(images/futura_black_bt.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: myFont;
}



body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
  font-size: 18px;
  word-spacing: 23px;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 65px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}

.logo {
  /* order:1 ; */
  margin-bottom: 0.1rem;
  margin-right: -380px;
}

.gem{
  width: 170px;
  height: 70px;
  margin-bottom: 10px;
}

.logo img{
  width: 190px;
}

h2 .since{
  font-size: 10px;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 110vh;
  background: 
    url("images/Front\ Office\ -\ Right\ Side\ View.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

/* ......//about us//...... */

#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

/* .about-img {
  flex: 1 1 400px;
  padding: 10px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
} */

.about-img img{
  width: 40vw;
  background-position: center;
  background-size: cover;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* ..........////Food category///........... */

#product {
  padding: 5rem 0 10rem 0;
  background: rgb(233, 233, 245);
}

#product h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #1b1919;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

/* .........../Food Menu/............ */

.food-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #666;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.food-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.food-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.food-description {
  margin: auto 1.5rem;
}

.font-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
}

.food-description p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.food-description .food-price {
  color: #117964;
  font-weight: 700;
}

/* ........./ Testimonial /.......... */


a{
  text-decoration: none;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  background:#839ccc;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 1px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

.reviewss{
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  margin: 30px;
  cursor: pointer;
  border: 5px solid black;
  background: #839ccc;
}
.reviewss a{
  text-decoration: none;
  color: #000;
}

.reviewss:hover{
  background: #117964;
  color: whitesmoke;
  outline: none;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}

@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}





.slideshow {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.slideshow img {
  width: 100%;
  height: auto;
}

.img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* ........ Infinite logo slider ........*/

.infinite-images {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-track {
  display: flex;
  width: calc(200%); /* Twice the width of the viewport to accommodate duplicated images */
  animation: scrollImages 20s linear infinite;
  background: #839ccc;
}

.image-track img {
  width: 5%; /* Adjust according to the number of images */
  flex-shrink: 0;
  padding: 2px 30px 2px 30px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

@keyframes scrollImages {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}


/* ........ Contact Us........... */

#contact {
  padding: 5rem 0;
  background: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
}
.contact-img{
  display: flex;
  margin: auto;
  flex: 1 1 40rem;
  object-fit: cover;
}
.map {
  padding: 1rem;
  width: 100%;
  
}

.form-container {
  padding: 2rem;
  /* width: 50%; */
  margin: auto;
  flex: 1 1 30rem;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}

.form-container button{
  outline: none;
  border: none;
}



/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .logo img{
    width: 140px;
  }

  .logo {
    /* order:1 ; */
    margin-bottom: 0.1rem;
    margin-right:0px;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }


  .navbar-container .gem{
    width: 60px;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .about-img img{
    width: 200px;
    filter: drop-shadow(1px 1px 20px yellow);
  }


  /* ......./ product /......... */

  .product-container {
    flex-direction: column;
    align-items: stretch;
  }

  .product-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .product-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }

/* Review */
  .testimonial-box{
    width:100%;
}
.testimonial-heading h1{
    font-size: 1.4rem;
}
}


#footer {
  overflow: hidden;
  background-color: whitesmoke;
}

.footer{
  /* background: var(--black); */
  
  text-align: center;
}

.footer .share{
  padding: .1rem 0;
  margin: .9rem;
}

.footer .share a{
  height: 5rem;
  width: 7rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #131212;
  border:.1rem solid rgba(255,255,255,.3) ;
  margin: .6rem;
  border-radius: 50%;
  text-decoration: none;
}

/* .footer .share a:hover{
  background-color:rgb(91, 88, 88);
  filter: brightness(10px);
} */

.share img:hover{
  filter:drop-shadow(6px 6px 20px blue);
}

.insta, .fb, .whatsapp{
  width: 2.8rem;
}

.linkd{
  width: 3rem;
}



.footer .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: .1rem 0;
  gap: .1rem;
}

.footer .links a{
  padding: .7rem 2rem;
  color: #161414;
  border: black;
  text-decoration: none;
  font-size: 20px;
}

.footer .links a:hover{
  filter:drop-shadow(6px 6px 6px rgb(19, 19, 142));
}

.footer .credit{
  font-size: 2rem;
  color: #140e0e;
  font-weight: lighter;
  padding: 1.0rem 1rem 1rem 0rem;
}

.footer .credit .under{
  color: #d3ad7f;
}

.phone-no{
  color: black;
  font-size: 20px;
  padding-bottom: 3rem;
}

.fotterlogo{
  width: 160px;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}





@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
/* search ------------------------------------------------*/

.search-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  border: none;
  background-color: white;
  color: #212121;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
}

.search-button span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.search-button::before {
  content: "";
  position: absolute;
  background-color: rgb(2, 112, 255);
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: inherit;
}

.search-button svg {
  fill: rgb(2, 112, 255);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.search-button:hover::before {
  animation: shakeBack 0.6s forwards;
}

.search-button:hover svg {
  fill: white;
  scale: 1.3;
}

.search-button:active {
  box-shadow: none;
}

@keyframes shakeBack {
  0% {
    transform: translate(-100%, 100%);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.search-dialog{
  z-index: 3;
  padding: 20px;
  position: fixed;
  align-self: center;
  justify-self: center;
  height: 350px;
  max-width: 300px;
  width: 70%;
  min-width: 250px;
  border-radius: 25px;
  border-color: #0976f3;
}
.InputContainer {
position: relative;
align-self: center;
justify-self: center;
margin-top: 20px;
width: 210px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
border-radius: 30px;
overflow: hidden;
cursor: pointer;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
position: relative;
align-self: center;
justify-self: center;
width: 200px;
height: 40px;
border: none;
outline: none;
caret-color: rgb(255, 81, 0);
background-color: rgb(255, 255, 255);
border-radius: 30px;
padding-left: 15px;
letter-spacing: 0.8px;
color: rgb(19, 19, 19);
font-size: 13.4px;
}

.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: calc(100% - 42px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none; /* Initially hidden */
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #0976f3;
  color: white;
  animation: ease-in ;
  animation-duration: 2s;
}
.close-search{
position: absolute;
font-weight: 900;
background: linear-gradient(rgb(2, 146, 249), rgb(248, 249, 250));
right: 0;
top: 0;
margin: 20px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
border-color: #0976f3;
}
.close-search:hover{
background: linear-gradient(rgb(248, 249, 250), rgb(2, 146, 249));
cursor: pointer;
color: white;
animation: ease-in 0.5s;
}
