body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: white;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Optional: Set a maximum width for better control */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.card {
    flex: 0 0 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
}
.card img {
    max-width: 150%;
    max-height: 150px;
    object-fit: fill; 
}

.title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.title {
    text-align: center;
    background: linear-gradient(90deg, black 5%, grey);
    color: white;
    height: 100px;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
    display: inline-block;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        width: 100%; /* Ensure title container spans the full width */
        margin-top: 20px; /* Add space between the card and title */
    }

    .content-table-container {
        flex-direction: column;
    }

    .product_table {
        display: none; /* Hide the table in the main content */
    }

    .openbtn, .openbtn-left {
        display: block; /* Show the open buttons */
    }
}

.content {
    background-color: white;
    border-width: 1px;
    border-color: black;
    max-width: 700px;
    margin: 50px;
    padding: 10px;
    text-align: justify;
    border-style: solid;
    color: black;
}
.content h6{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.product_table {
    width: 50%; /* Adjust the width as needed */
    padding: 20px;
}

.content-table-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}


.drawer {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 40px;
    padding-right: 200px;
}

.drawer .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.drawer .drawer-content {
    margin-top: 30px;
    margin-right: 50px;
    padding: 20px;
    padding-right: 50px;
    width: 800px;
    margin-bottom: 40px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    display: block; /* Show the open buttons */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
